body {
  font-family: sans-serif;
}

#video-list {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  list-style-type: none;
  padding: 0;
}

#video-list > li {
  display: inline-block;
}

#video-list > li > p {
  margin: 0.5em 0;
}

.video-title > a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.video-info {
  color: gray;
  font-size: smaller;
}

.video-thumbnail {
  position: relative;
}

.video-thumbnail > img {
  display: block;
  height: 100%;
  width: 100%;
}

.video-duration {
  background-color: black;
  border-radius: 0.5em;
  bottom: 0;
  color: white;
  font-size: smaller;
  font-weight: bold;
  margin: 0.25em;
  opacity: 75%;
  padding: 0 0.5em;
  position: absolute;
  right: 0;
  width: min-content;
}
