body {
  font-family: sans-serif;
}

video {
  background-color: black;
}

#video-description {
  font: inherit;
  white-space: pre-wrap;
}

/* mobile layout */
@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }

  video {
    max-height: 75vh;
    width: 100vw;
  }

  #video-info {
    margin: 0.5em;
  }
}
